body {
  padding: 0px;
  margin: 0px;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: lightblue;
  margin: 0px 0px 1em 0px;
  padding: 1em;
}

header nav {
  background-color: lightgreen;
  margin-left: -1em;
  margin-right: -1em;
  padding: 0.5em 1em;
  margin-top: 1em;
}

header h1 {
  margin: 0px;
}

header.header h2 {
  color: #404040;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

td {
  text-align: center;
}

#statsConsoArea {
  text-align: center;
  width: 40%;
}

div#statsConso,
div#statsJournaliere {
  display: flex;
  justify-content: space-around;
  color: black;
}

.statsBox {
  text-align: center;
  border: 1px solid black;
  padding: 1.5em;
}

.statsBox .nombre {
  font-weight: bold;
  font-size: 2em;
}

#statsPlus {
  margin-top: 1em;
  text-align: left;
  text-align: start;
}

table#statsConso {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table#statsConso th,
table#statsConso td {
  padding: 0.25em;
}

table#statsConso tr:nth-child(2) {
  font-weight: bold;
  font-size: 2em;
}

#chartArea,
#statsCarteArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#content {
  padding: 1em;
}

#credits {
  font-style: italic;
}

#credits a {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0px;
}

#carteArea {
  margin-left: 2em;
}

#btn-carte-etat,
#btn-carte-signalement,
#btn-carte-data {
  cursor: pointer;
}

.carte-commune {
  text-align: center;
}

.liste-ville-area {
  display: flex;
  justify-content: space-around;
}

/* Couleurs box */

.statsBox.veloMecanique {
  background-color: rgba(104, 221, 46, 0.2);
}

.statsBox.veloElectrique {
  background-color: rgba(76, 213, 233, 0.2);
}

.statsBox.veloMecanique,
.statsBox.veloElectrique {
  background-image: url("../img/Bicycle-pictogram.svg");
  background-position: bottom -10px right -50px;
  background-repeat: no-repeat;
  background-size: 50%;
}

.statsBox.nombreStations {
  background-color: rgba(173, 0, 130, 0.2);
}

@media screen and (max-width: 1023px) {
  #statsConsoArea {
    width: 100%;
  }
  .liste-ville-area {
    flex-direction: column;
  }
}

.comptages #menu .pure-menu-heading,
.vls #menu .pure-menu-heading {
  font-size: 0.85em;
}

.comptages #menu .pure-menu-selected,
.comptages #menu .pure-menu-heading {
  background-color: rgb(155, 135, 29);
}

.comptages header {
  background-color: rgba(104, 221, 46, 0.2);
}

.vls #menu .pure-menu-selected,
.vls #menu .pure-menu-heading {
  background-color: rgb(155, 86, 29);
}

.vls header {
  background-color: rgba(254, 216, 160, 0.2);
}
