<div id="statsConso">
    <div class="statsBox nombreStations">
        <span class="nombre">{$nbStation}</span><br />
        points de comptage
    </div>
    <div class="statsBox veloMecanique">
        <span class="nombre">{$nbPassage}</span><br />
        passages
    </div>
</div>
<i>Dernière mise à jour : {$dateDerniereConso}</i>